@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   :root {
      --background: 0 0% 100%;
      --foreground: 0 0% 8%;
      --accent: 215 66% 41%;

      --mute: 99 18% 40%;

      --border: 200 14% 92%;
   }
}

@layer base {
   * {
      @apply border-border;
   }
   body {
      @apply bg-background text-foreground;
   }
}

@layer components {
   .btn {
      @apply inline-flex items-center justify-center rounded-md font-medium transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50;
   }

   .category-btn {
      @apply text-mute text-base sm:text-lg px-4 py-2 whitespace-nowrap !rounded-full capitalize hover:bg-border/50;
   }
}

@layer utilities {
   .max-width {
      @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
   }

   .heading1 {
      @apply text-3xl sm:text-5xl font-bold;
   }

   .heading2 {
      @apply text-2xl sm:text-3xl font-bold;
   }

   .heading3 {
      @apply text-xl sm:text-2xl font-bold;
   }

   .body-text {
      @apply text-base sm:text-lg;
   }

   .base-regular {
      @apply text-sm sm:text-base;
   }

   .post-title {
      @apply text-3xl sm:text-5xl !leading-[1.125em] font-bold;
   }
}
